version: '3'
services:
  vector:
    image: timberio/vector:0.32.1-debian
    container_name: vector
    networks:
    - es-net
    ports:
      - 8686:8686
    volumes:
      - ./vector.toml:/etc/vector/vector.toml:ro
    environment:
      - VECTOR_OPENSSL_LEGACY_PROVIDER=false
      - VECTOR_WATCH_CONFIG=truel
    command: --allocation-tracing
    
  elastic:
    container_name: es
    image: elasticsearch:7.17.13
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    networks:
      - es-net
    ports:
      - 9200:9200
    restart: always
  kibana:
    container_name: kb
    image: kibana:7.17.13
    environment:
      - ELASTICSEARCH_HOSTS=http://es:9200
    networks:
      - es-net
    depends_on:
      - elastic
    ports:
      - 5601:5601
    restart: always
networks:
  es-net:
    driver: bridge